.navigation-container
  width: fit-content
  padding: 1em
  background: whitesmoke
  height: 100vh
  display: flex
  flex-direction: column
  text-align: center
  justify-content: space-evenly
  .logo-img
    width: 100px
  .how-work
    cursor: pointer
